In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

imdb_name = pd.read_csv('data/imdb.name.basics.csv.gz')
imdb_basics = pd.read_csv('data/imdb.title.basics.csv.gz')
imdb_crew = pd.read_csv('data/imdb.title.crew.csv.gz')
imdb_principals = pd.read_csv('data/imdb.title.principals.csv.gz')
imdb_ratings = pd.read_csv('data/imdb.title.ratings.csv.gz')

In [2]:
imdb_crew.head()

      tconst                      directors              writers
0  tt0285252                      nm0899854            nm0899854
1  tt0438973                            NaN  nm0175726,nm1802864
2  tt0462036                      nm1940585            nm1940585
3  tt0835418                      nm0151540  nm0310087,nm0841532
4  tt0878654  nm0089502,nm2291498,nm2292011            nm0284943